spring:
  application:
    name: Pismo
  datasource:
    url: jdbc:postgresql://localhost:5432/pismo
    username: admin
    password: admin
    driver-class-name: org.postgresql.Driver
    jpa:
        hibernate:
            ddl-auto: update
        show-sql: true
        properties:
            hibernate:
            format_sql: true
